
@model List<Transaction>
<div class="w-100 card border-0 p-4">
    <div class="card-header bg-success bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Transaction List</h2>
            </div>
        </div>
    </div>
    <div class="card-body border p-4">
        <div class="row pb-3">
            <div class="col-6 offset-6 text-end">
                <a asp-controller="Transaction" asp-action="Create" class="btn btn-secondary">
                    <i class="bi bi-plus-circle"></i> Create New Transaction
                </a>
            </div>
        </div>
        <div class="row pb-3">
            <div class="col-6 offset-6 text-end">
               <form asp-controller="transaction" asp-action="index" method="get">
                   <label for="startdate">From:</label>
                   <input type="date" id="startdate" name="fromDate" max="@DateTime.UtcNow.ToString("yyyy-MM-dd")" />
                   <label for="todate">To</label>
                    <input type="date" id="todate" name="toDate" max="@DateTime.UtcNow.ToString("yyyy-MM-dd")"  />
                   <input type="submit" value="Submit" />
               </form>
            </div>
            <div>
                <a asp-controller="Transaction" asp-action="Index">Clear Filter</a>
            </div>
        </div>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th> Category</th>
                    <th> Type</th>
                    <th>Amount</th>
                    <th>Transaction At</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                    <tr>
                        <td>@obj.Category.Name</td>
                        <td>@obj.Category.Type</td>
                        <td>@obj.Amount.ToString("C")</td>
                        <td> @obj.CreatedAt.ToString("yyyy-MM-dd")</td>

                        <td>
                            <div class="w-75 btn-group" role="group">
                                <a asp-controller="Transaction" asp-action="Details" asp-route-Id="@obj.Id"
                                   class="btn btn-primary mx-2">
                                    <i class="bi bi-eye-fill"></i> View
                                </a>
                                <a asp-controller="Transaction" asp-action="Edit" asp-route-Id="@obj.Id"
                                   class="btn btn-success mx-2">
                                    <i class="bi bi-pencil-square"></i> Edit
                                </a>
                                <a asp-controller="Transaction" asp-action="Delete" asp-route-Id="@obj.Id"
                                   class="btn btn-danger mx-2">
                                    <i class="bi bi-trash-fill"></i> Delete
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>